:root {
  --dark-color: #272930;
  --darker-color: #1a1b1e;
  --light-color: #ebeef3;
  --gray-color: #5d5e61;
  --brand-blue: #6336f7;
  --brand-hover: #5131ba;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-title {
  font-size: 24px;
}
.logo {
  display: inline;
  fill: var(--brand-blue);
}
.lcompiler {
  padding: 25px 0;
}

.lcompiler .container {
  display: flex;
  gap: 30px;
}

.lcompiler-form {
  flex-basis: calc((100% - 30px) / 2);
}
.lcompiler-form > h2 {
  margin-bottom: 15px;
}
.tt-label {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%; /* 24/20 */
  margin-bottom: 5px;
}
.tt-textarea {
  font-family: "Oxygen Mono", monospace;
  font-size: 18px;
  line-height: 111.111111%; /* 20/18 */
  text-align: center;
  padding: 25px 15px;
  width: 100%;
  margin-bottom: 5px;
  resize: vertical;
  background-color: transparent;
  color: inherit;
  border: 2px solid var(--light-color);
}
.lgates {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  border: 2px solid var(--light-color);
  margin: 0;
  padding: 15px 10px;
  margin-bottom: 10px;
}
.lgates-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%; /* 24/20 */
  margin-bottom: 5px;
}
.lgates-label {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: calc(100% / 3);
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-color);
  cursor: pointer;
}
.check {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gray-color);
  border-radius: 25%;
  width: 25px;
  height: 25px;
  color: transparent;
}
.lgates-checkbox:checked + .check {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-color: transparent;
}
.lgates-checkbox:checked ~ .check-text {
  color: var(--light-color);
}
.check-icon {
  fill: currentColor;
}
.lcompiler-btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  padding: 15px 0;
  background-color: var(--brand-blue);
  color: var(--light-color);
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.lcompiler-btn:focus,
.lcompiler-btn:hover {
  background-color: var(--brand-hover);
}

.output-wrap {
  flex-basis: calc((100% - 30px) / 2);
}
.output-wrap > h2 {
  margin-bottom: 44px;
}
.output {
  background-color: var(--darker-color);
  padding: 25px 15px;
  border: 2px solid var(--gray-color);
}
.output-text {
  font-family: "Oxygen Mono", monospace;
  text-align: justify;
  font-size: 18px;
  line-height: 133.333333%; /* 24/18 */
}
.logic-output {
  font-family: "Oxygen Mono", monospace;
  font-size: 18px;
  line-height: 111.111111%; /* 20/18 */
}
.input-output-set:nth-child(odd) {
  background-color: #1e1f21;
}
.input-output-set {
  display: flex;
}
.output-wrapper {
  display: flex;
  gap: 20px;
}
.output-wrapper span {
  display: block;
  width: 100px;
}
.output-wrapper span.hidden {
  display: none;
}
.input-output-set p:first-child {
  width: 200px;
}
.filter {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.filter-item {
}
.filter-btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  padding: 15px 20px;
  background-color: var(--brand-blue);
  color: var(--light-color);
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}
.filter-btn:focus,
.filter-btn:hover {
  background-color: var(--brand-hover);
}
.separator {
  width: 100%;
  height: 2px;
  background-color: var(--light-color);
  margin-bottom: 10px;
  margin-top: 5px;
}
